<div class="gallery-mask" ng-show="shouldShow" ng-click="closeGallery()"></div>
<div class="gallery-container" ng-init="initGallery()" ng-attr-id="gallery-{{id}}" ng-show="shouldShow">
	<header class="gallery-header">
		<h2>Choose an Image</h2>
		<button type="button" class="btn-op btn-close" ng-click="closeGallery()"></button>
	</header>
	<nav class="gallery-nav nav-tabs">
		<button type="button" class="btn-tab" ng-click="activateTab('imgTab')" ng-class="{active : imgTabActive}">Gallery</button>
		<button type="button" class="btn-tab" ng-click="activateTab('fileTab')" ng-class="{active : fileTabActive}">Upload</button>
	</nav>
	<section class="gallery-content">
		<div class="gallery-tab img-tab" ng-show="imgTabActive">
			<div class="gallery-img-content">
				<div class="gallery-filters">
					<input type="text" ng-model="nameFilter" class="name-filter" placeholder="filter images by name">
					<div class="tags-filter tags-container">
						<div class="tag-filter-container" ng-repeat="tag in imageTags | orderBy">
							<button type="button" class="tags" ng-bind="tag" ng-click="toggleTags(tag)" ng-class="{'active':tagActive(tag)}"></button>
						</div>
					</div>
				</div>
				<div class="gallery-img-container" ng-repeat="imgObj in imageData" ng-show="filtered(imgObj)">
					<button type="button" class="btn-op btn-remove" ng-click="deleteFile($index)"></button>
					<div class="gallery-img" ng-click="previewImg(imgObj)">
						<img ng-src="{{imgObj.sizes.thumb.path}}" ng-if="imgObj.type=='image'" ng-class="{'portrait-img':imgObj.orientation=='portrait'}">
						<i class="material-icons" ng-if="imgObj.type!='image'">insert_drive_file</i>
						<span ng-bind="imgObj.name" ng-if="imgObj.type!='image'"></span>
					</div>
					<div class="img-remove" ng-if="imgObj.removing"></div>
				</div>
			</div>
			<div class="gallery-preview-pane" ng-show="selectedImg">
				<div class="gallery-img-container">
					<div class="gallery-img" ng-class="{'portrait-img':selectedImg.orientation=='portrait', 'square-img':selectedImg.orientation=='square'}">
						<img ng-src="{{selectedImg.sizes.medium.path}}" ng-if="selectedImg.type=='image'" ng-class="{'portrait-img':selectedImg.orientation=='portrait', 'square-img':selectedImg.orientation=='square'}">
						<i class="material-icons" ng-if="selectedImg.type!='image'">insert_drive_file</i>
						<span ng-bind="selectedImg.name" ng-if="selectedImg.type!='image'"></span>
					</div>
				</div>
				<div class="gallery-img-meta">
					<dl>
						<dt>Image Name: </dt>
						<dd>
							<span ng-bind="selectedImg.name"></span>
						</dd><dt>Extension: </dt>
						<dd>
							<span ng-bind="selectedImg.extension"></span></dd><dt>Orientation:</dt><dd><span ng-bind="selectedImg.orientation"></span>
						</dd>
						<dt>Path: </dt>
						<dd>
							<span ng-bind="selectedImg.path"></span>
						</dd>
						<dt>Alt Text:</dt>
						<dd>
							<input type="text" ng-model="selectedImg.alt" placeholder="Alt text">
						</dd>
						<dt>Tags:</dt>
						<dd>
							<div de-tag-input ng-model="selectedImg.tags"></div>
						</dd>
						<dt>Photographer:</dt>
						<dd>
							<input type="text" ng-model="selectedImg.author" placeholder="Photographer">
						</dd>
						<dt>Credit Link:</dt>
						<dd>
							<input type="text" ng-model="selectedImg.credit_url" placeholder="Image credit's URL. ">
						</dd>
					</dl>
				</div>
				<div class="gallery-img-action">
					<button type="button" class="btn-select" ng-click="selectImage()">Select image</button>
					<button type="button" class="btn-submit" ng-click="saveImageMeta()">Save image info</button>
				</div>
			</div>
		</div>
		<div class="gallery-tab file-tab" ng-show="fileTabActive">
			<div class="gallery-file-content">
				<div class="gallery-file-dropzone"></div>
				<div class="gallery-file-container" ng-repeat="(fileKey,fileObj) in fileQueue">
					<div class="gallery-img-container">
						<button type="button" class="btn-op btn-remove" ng-click="removeFile(fileKey)"></button>
						<div class="gallery-img">
							<div de-preview-file="fileObj.file"></div>
							<div class="gallery-file-progress" ng-if="fileObj.isloading">
								<span>Uploading</span>
							</div>
						</div>
					</div>
					<div class="gallery-img-meta">
						<dl>
							<dt>Image Name: </dt>
							<dd>
								<label class="file-name" ng-bind="fileObj.file.name"></label>
							</dd>
							<dt>File size: </dt>
							<dd>
								<span class="file-size" ng-bind="fileObj.file.size | bytes"></span>
							</dd>
							<dt>Alt Text:</dt>
							<dd>
								<input type="text" ng-model="fileQueue[fileKey].meta.alt" placeholder="Alt text">
							</dd>
							<dt>Tags:</dt>
							<dd>
								<div de-tag-input ng-model="fileQueue[fileKey].meta.tags"></div>
							</dd>
							<dt>Photographer:</dt>
							<dd>
								<input type="text" ng-model="fileQueue[fileKey].meta.author" placeholder="Photographer">
							</dd>
							<dt>Credit Link:</dt>
							<dd>
								<input type="text" ng-model="fileQueue[fileKey].meta.credit_url" placeholder="Image credit's URL. ">
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="gallery-file-action">
				<label for="upload-file" class="btn-upload">Choose Files</label>
				<input type="file" id="upload-file" name="upload-file" de-bind-files="addFile(file)" multiple>
				<button type="button" class="btn-upload-all" ng-click="uploadFiles()">Upload All</button>
			</div>
		</div>
	</section>
</div>